body{
    text-align:center;
}
div{
    height:100px;
    width:500px;
    display: inline-block;
    border:2px solid black;
}
#container{
    width:800px;
    height:300px;
    display:flex;
    flex-direction: row;
}
#box1{
    background-color:aqua;
}
#box2{
    background-color:pink
}
#box3{
    background-color:red
}
#box4{
    background-color:green
}
#box5{
    background-color:yellow
}